<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into rollcallsystem.user (username, password, phone)
        values (#{name},#{password},#{phone})
    </insert>
    
    <delete id="deleteUser" parameterType="String">
        delete from rollcallsystem.user where username = #{name}
    </delete>
    
    <update id="updateUser" parameterType="User">
        update rollcallsystem.user
        set password = #{password},phone = #{phone}
        where username = #{username}
    </update>
    
    <select id="queryUserByName" resultType="User">
        select * from rollcallsystem.user
        where username = #{username}
    </select>
    
    <select id="queryAllUser" resultType="User">
        select * from rollcallsystem.user
    </select>
</mapper>